<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow users="Olechka" />
            <allow users="Eugene" />
	    <allow users="laura1809" />
	    <allow users="svetlya4ok" />
            <deny users="?" />
            <deny users="*" />
        </authorization>
    </system.web>
	<location path="NewsManagement.aspx">
		<system.web>
			<authorization>
				<allow users="Eugene"/>
			</authorization>
		</system.web>
	</location>
</configuration>